<!DOCTYPE html>
<html>
<head>
  <title>Rollcall</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<h1>
<%= link_to("Courses", courses_url) %>
<%= link_to("Students", students_url) %>
<%= link_to("Meetings", meetings_url) %>
<%= link_to("Attendances", attendances_url) %>
</h1>


<%= yield %>

</body>
</html>
